@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

body {
  background-color: #190728;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, span{
  font-size: 50px;
  font-family: 'Bigelow Rules', cursive;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 2.4px;
  font-weight: bolder;
  color: #d1b4e8;
  cursor: pointer;
}

/* animate text in span  */
.author {
  animation: slidein 3s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.author{
  width: 50px;
  font-size:30px;
}

.github-icon{
  width: 50px;
  height: 50px;
  position: relative;
  top: -90px;
  left: 55px;
}